<ul class="squared-menu">
  <li>
    <a href="#" class="item active">
      <i class="icon-bars"></i>
      <p>Stats</p>
    </a>
  </li>
  <li>
    <a href="#" class="item">
      <i class="icon-search"></i>
      <p>Search</p>
    </a>
  </li>
  <li>
    <a href="#" class="item">
      <i class="icon-flag"></i>
      <p>Info</p>
    </a>
  </li>
  <li>
    <a href="#" class="item">
      <i class="icon-question"></i>
      <p>Help</p>
    </a>
  </li>
</ul>
