// *************************************
//
//   Content Area
//   -> Dinamic content here, handled by
//      the left menu
//
// *************************************


#content-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 480px;
  right: 0;

}
