// *************************************
//
//   Control Bar
//   -> Left bar containing all the options
//      to be displayed in the rigth side
//
// *************************************


#control-bar {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;

  width: 480px;

  .panel-content {
    position: absolute;
    top: 45px;
    bottom: 30px;

    width: 100%;
    background: $neutral;
  }

  .footer {
    position: absolute;
    height: 50px;
    bottom: 0;

    width: 100%;
    background: $base;
  }
}
