// *************************************
//
//   Main Footer
//
// *************************************

#main-footer {
  position: absolute;
  height: 20px;
  bottom: 0;

  width: 100%;
  background: $base;
}
