// *************************************
//
//   Base
//   -> Base for all the following styles
//
// *************************************

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: $contrast-ligther;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
