// *************************************
//
//   Colors
//
// *************************************

$base: #74b73f;
$base-ligther: #99D36C;

$contrast: #E8E6E7;
$contrast-ligther: #818181;

$neutral: #f9fafc;
