// *************************************
//
//   Colors
//
// *************************************

$base: #74b73f;
$base-ligther: #66E884;

$contrast: #E8E6E7;
$contrast-ligther: #909398;

$neutral: #f9fafc;
