// *************************************
//
//   Colors
//
// *************************************

$base: #3D9AAB;
$base-ligther: #4FCADC;

$contrast: #E8E6E7;
$contrast-ligther: #909398;

$neutral: #F2ECCF;
