// *************************************
//
//   Tooltip
//   -> A question mark icon
//
// *************************************


.icon-tooltip {

  font-size: 13px;
  color: $contrast-ligther;

  &:before {
    content: "\e607";
  }
}
