// *************************************
//
//   Trademark
//   -> The icon and the name of the application
//
// *************************************


.trademark {
  position: relative;
  height: 50px;

  padding: 5px;

  color: white;
  background: $base;

  .icon {
    position: absolute;
    top: 0;
    left: 15px;

    font-size: 45px;
  }
}
