<div class="grid-100">

  <div class="grid-100 grid-parent content-item node-health">
  </div>

  <div class="grid-100 grid-parent content-item node-settings">
  </div>

  <div class="grid-100 grid-parent content-item node-state">
    <h3 class="has-tooltip">
      State
      <i class="icon-tooltip"></i>
    </h3>
  </div>

</div>
