<header class="header">
  <div class="trademark">
    <h3 class="name">ElasticBox</h3>
    <i class="icon icon-cube"></i>
  </div>

  <nav class="panel-navigation"></nav>
</header>

<div class="panel-content">
  <div class="search-bar"></div>
</div>

<footer class="footer">
</footer>
